{% extends 'authapp/base.html' %}
{% load static %}


{% block content %}
    <img style="width: 200px;" class="img-thumbnail" src="/media/{{ user.avatar }}">
    <form class="form" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form.as_p }}
        {{ profile_form.as_p }}
        <input class="form-control" type="submit" value="сохранить">
    </form>
    <button class="btn btn-round form-control last">
        <a href="{% url 'main' %}" class="">
            на главную
        </a>
    </button>
{% endblock %}