{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
  <div class="p-1">
    Уверены, что хотите удалить категорию {{ object.name }} 
    {% if object.first_name %}
      ({{ object.first_name|title }}</b>
      {% if object.last_name %}
        {{ object.last_name|title }}
      {% endif %})
    {% endif %}
    ?
    <form action="{% url 'admin:category_delete' object.pk %}"
          method="post">
      {% csrf_token %}
      <input class="my-2 btn btn-danger" type="submit" value="удалить">
    </form>
    <div class="btn btn-success">
      <a href="{% url 'admin:categories' %}">
        Отмена
      </a>
    </div>
  </div>
{% endblock %}